{
	padding: 0px;
	margin: 0px;

}
body{
	font-size: 120%;
	background: url("background1.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: sans-serif;
	margin-left: 2%;
}

.header{
	width: 25%;
	margin: 50px auto 0px;
	color: white;
	background: #1F618D;
	text-align: center;
	border: 2px solid #2196F3;
	border-bottom: none;
	border-radius: 25px 0px 0px 0px;
	padding: 14px;
}
form{
	width: 25%;
	margin: 0px auto;
	padding: 14px;
	border: 2px solid #2196F3;
	background: white;
	border-radius: 0px 0px 30px 0px;
}
.label{
	margin-left: 2%;
}
.input-group{
	margin: 10px 0px 0px 0px;
}
.input-group input{
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	color: white;
	font-size: 16px;
	border-radius: 5px;
	border:1px solid #2196F3;
	margin-left: 2%;
}

.button{
	width: 93%;
	padding: 15px;
	font-size: 18px;
	color: white;
	font-weight: bold;
	background: #1F618D;
	border: none;
	border-radius: 5px;
	margin-left: 2%;

}
button:hover {
  background-color: #3498DB; 
 
}
p{
	margin: 0px 0px 0px 0px;
	padding: 0px;
}



